{% extends "base.html" %}

{% block title %}About Us - Rently{% endblock %}

{% block content %}
<div class="container text-center mt-4">
    <h1>About Rently</h1>
    <p class="lead">Rently is your trusted platform for renting and reselling items with ease and convenience.</p>
    <hr>
    <div class="row mt-4">
        <div class="col-md-6">
            <h3>Our Mission</h3>
            <p>We aim to promote sustainability by making it simple to give your items a new life and to find what you need without buying new. Together, we reduce waste and create a greener future.</p>
        </div>
        <div class="col-md-6">
            <h3>Our Vision</h3>
            <p>To build a global community where sharing and reusing resources is the norm, fostering connections and creating value for everyone.</p>
        </div>
    </div>
    <div class="mt-4">
        <h3>Why Choose Rently?</h3>
        <ul class="list-group list-group-flush text-start">
            <li class="list-group-item">Easy to use platform</li>
            <li class="list-group-item">Secure transactions</li>
            <li class="list-group-item">Eco-friendly and sustainable</li>
            <li class="list-group-item">A growing community of like-minded users</li>
        </ul>
    </div>
</div>
{% endblock %}
